{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Viewing your child's prescription through the NHS App
      </h1>
      <p><strong>Every parent wants what is best for their child&rsquo;s health. With prescription view, we want to help you manage your child&rsquo;s prescriptions with ease.</strong></p>

<p>Prescription view is safe and secure. This new service will allow you to view your child&#39;s prescriptions through linked profiles on the NHS App. It has been developed in response to the increasing popularity of online health services.</p>

<h2>Benefits of using prescription view</h2>

<p>This new service allows you to use the NHS App:</p>

<ul>
	<li>view your child&rsquo;s prescriptions on the NHS App or website</li>
	<li>use a secure barcode as proof of your child&rsquo;s prescription at the pharmacy</li>
	<li>switch between your NHS profile and your child&rsquo;s linked profile</li>
	<li>save time when it comes to managing your child&rsquo;s prescription</li>
</ul>

<p>In future, the service will allow you to manage your child&#39;s healthcare tasks:</p>

<ul>
	<li>so you can reduce contact time with your GP surgery</li>
	<li>at a time that suits you</li>
</ul>

<h2>Prescription view and linked profiles</h2>

<p>Before you can sign up to prescription view, you must be:</p>

<ul>
	<li>the child&rsquo;s biological mother</li>
	<li>able to prove your relationship with the child (for example, with a birth certificate)</li>
	<li>living with the child at the same address</li>
	<li>registered at the same GP surgery</li>
	<li>registered on <a href="https://www.nhs.uk/nhs-services/online-services/nhs-login/" rel="noreferrer noopener" target="_blank">NHS login</a> and NHS App</li>
</ul>

<p>Your child must be aged 10 or under before you sign up for prescription view.</p>

<p>If you have more than one child under 10, you can apply for prescription view for them, too.</p>

<h2>Getting started with prescription view</h2>

<p>Once you are registered on NHS login and the NHS App, you will be asked:</p>

<ul>
	<li>about potential safeguarding issues</li>
	<li>to share your personal information</li>
	<li>about your relationship to the child</li>
	<li>about what you want to do on behalf of the child</li>
	<li>your child&rsquo;s details</li>
</ul>

<p>Your child&rsquo;s data is stored securely in a way that follows the&nbsp;<a href="https://access.login.nhs.uk/privacy" rel="noreferrer noopener" target="_blank">NHS login privacy notice</a>.</p>
      <a href="https://www.figma.com/proto/B6OKHSbdg53zKnwYgnZzYC/NHS-Proxy-Service-Designs-(Copy)?page-id=180%3A4018&type=design&node-id=180-4031&viewport=791%2C328%2C0.42&scaling=min-zoom&starting-point-node-id=180%3A4031&show-proto-sidebar=1&mode=design" class="nhsuk-button">
        Start now
      </a>
    </div>  

  </div>
{% endblock %}
