{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Viewing your child's prescription through the NHS App
      </h1>
      <p>Prescription view is safe, secure and thorough. It will allow you to view your child&#39;s prescriptions through linked profiles on the NHS App.</p>

      <p>This new service has been developed in response to the increasing popularity of online health services.</p>
      
      <h2>Before applying for prescription view</h2>
      
      <p>You can access prescription view through <a href="https://www.nhs.uk/nhs-app/nhs-app-help-and-support/linked-profiles-in-the-nhs-app/" rel="noreferrer noopener" target="_blank">linked profiles</a> on the NHS App.</p>
      
      <p>Linked profiles on the NHS app allows someone other than the patient to access and manage parts of their GP online services account.</p>
      
      <p>People who sign up for linked profiles are usually responsible adults, such as parents or carers.</p>
      
      <p>Before you can sign up to prescription view, you must be:</p>
      
      <ul>
        <li>
        <p>the child&rsquo;s biological mothers</p>
        </li>
        <li>
        <p>able to prove your relationship with the child (for example, with a birth certificate)</p>
        </li>
        <li>
        <p>living with the child at the same address</p>
        </li>
        <li>
        <p>registered at the same GP surgery</p>
        </li>
        <li>
        <p>registered on NHS login and NHS App</p>
        </li>
      </ul>
      
      <p>Your child must be 10 or under before you sign up for prescription view.</p>
      
      <p>If you have more than one child under 10, you can apply for prescription view for them, too.</p>
      
      <h2>Getting set up for prescription view</h2>
      
      <p>Once you are registered on NHS login and the NHS App, you will be asked:&nbsp;</p>
      
      <ul>
        <li>
        <p>about potential safeguarding issues</p>
        </li>
        <li>
        <p>to share your personal information</p>
        </li>
        <li>
        <p>about your relationship to the child</p>
        </li>
        <li>
        <p>about what you want to do on behalf of the child</p>
        </li>
        <li>
        <p>your child&rsquo;s details</p>
        </li>
      </ul>
      
      <p>You will be given a&nbsp;reference number to confirm that your application is complete.</p>
      
      <p>After you have been approved for prescription view, you can switch to your child&rsquo;s&nbsp;linked profile after logging in to the NHS App.</p>
      
      <h2>Benefits of using prescription view</h2>
      
      <p>This new service allows you to:&nbsp;</p>
      
      <ul>
        <li>
        <p>view your child&rsquo;s prescriptions on the NHS App or website</p>
        </li>
        <li>
        <p>switch between your NHS profile and your child&rsquo;s linked profile seamlessly</p>
        </li>
        <li>
        <p>save time when it comes to managing your child&rsquo;s healthcare tasks</p>
        </li>
      </ul>
      
      <p>In future the service will allow you to:</p>
      
      <ul>
        <li>
        <p>self-serve, reducing contact time with your GP surgery</p>
        </li>
        <li>
        <p>manage your child&rsquo;s healthcare tasks at a time that works for you</p>
        </li>
      </ul>
      
      <p>We look forward to onboarding you onto prescription view.</p>
      <a href="https://www.figma.com/proto/3RJZjpv4jbaayNmwn0BOjX/NHS-Proxy-Service-Designs?type=design&node-id=180-4031&scaling=min-zoom&page-id=180%3A4018&starting-point-node-id=180%3A4031&show-proto-sidebar=1&mode=design" class="nhsuk-button">
        Start now
      </a>
    </div>  

  </div>
{% endblock %}
